@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap");


.header{
  background-color: #004175;
  font-family: Oswald, Georgia, "Times New Roman", Times, serif;
  font-size:  50px;
  color: white;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content:space-between
}

.main-header{
  font-size: 30px;

}

.header-links{
  text-decoration: none;
  background-color: #004175;
  display: flex;
  font-family:'Oswald';
  font-size: small;
  align-items:flex-end;
  padding: 20px;
  margin-right: 10px;
  text-align: right;
}

.nav-link{
text-decoration: none;
color: white;

}


main {
  margin: 1px 10px;
  padding: 10px 50px;
  family: "Open Sans";
  font-size: x-small;
  background-color: white;
  justify-content: center;
  /* border: 10 50 50 10; */
  
}

h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  color: black;
  padding: 50;
}

h2 {
  font-family: "Open Sans";
  font-size: small;
  text-align: left;
  margin: 40;
}

h3 {
  font-family: "Open Sans";
  font-size: small;
  text-align: left;
}

.dog-list {
  border: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  background-color: white;
  border: black 10px;
}


.dog-card {
  display: flex;
  flex: wrap;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border: 1px solid;
  border-radius: 2%;
  width: 300px;
  border-color: #ebe8e5;
  border-radius: 1%;
}

.name{
  font-family: Oswald;
  font-size: small;
  padding: 0px;
  margin: 1px 5px 10px 2.5px; 
  display: flex;}

 * .bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: white;
  }
  
  .traits {
    font-family: 'open sans';
    font-size: xx-small;
    background-color: #89DEEF;
    border-radius: 5px;
    padding: 5px; 
    margin: 3px;
    place-content: center;
  }
  
  
  .contact-text {
    font-size: large;
    /*Happy Valley Shelter is located at 
        Hours*/
  }

  /*footer*/

  footer{
  background-color: #a6a9f0;

}

.contaier{
  flex-direction: row;
  background-color: #a6a9f0;
  display: grid;
  place-items:center;
  display: inline-block;
 

}

.image-container{

  display:grid;
  width: 100%;
  grid-template-columns: repeat {auto-fit, minmax(10ch, 1 fr));
  background-color: yellow;
  align-items: center;
  opacity:0.4;
}

/*
.container{

  display: inline-block;
  position: relative;
  flex-direction: row;
  background-color: #A6A9Fk0;
  width: 30%;
  padding-top: 0%;
  color: white;
  text-decoration: none;
  /*why is the color not white and underline not going away?*/
  
}
.image img:hover {
  height:100%;
  width:100%;
  opacity: 100;
}


.text{
  font-family: oswald;
  font-size: 30px;
  background-color: hotpink;
}